<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.friend.mapper.ExamMapper">
    <select id="getExamList" resultType="com.example.friend.domain.vo.ExamQueryVO">
        select
        tb_exam.exam_id,
        tb_exam.title,
        tb_exam.start_time,
        tb_exam.end_time
        from tb_exam
        where
            /*设置为索引 每次查询都需要此条件*/
            status = 1
            <if test="startTime!=null">
                and start_time &gt;= #{startTime}
            </if>
            <if test="endTime!=null">
                and end_time &lt;= #{endTime}
            </if>
            <if test="type!=null and type == 0">
                and end_time &gt;= now()
            </if>
            <if test="type!=null and type == 1">
                and end_time &lt;= now()
            </if>
        order by start_time
    </select>
</mapper>
