<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.friend.mapper.MessageMapper">
    <select id="selectUserMessageList" resultType="com.example.friend.domain.vo.MessageTextVO">
        select
            message_text_id,title,content
            from tb_message left join tb_message_text on text_id = message_text_id
        where tb_message.receiver = #{userId}
    </select>
</mapper>
